//main background
$bg: #161620;

//navigation
$nav-bg: #333333;
$nav-font: #aaaaaa;
$nav-btn-border: #cacaca;

//authorization
$auth-bg: #494949;
$auth-font: #dddddd;
$auth-error-font: #ffffff;

//home page/landing page
$home-font: #bbbbff;
$home-btn-font: #bbbbff;
$home-btn-border: #bbbbff;

//polls-related
$polls-font: #bbbbff;
$polls-border: #bbbbff;
$polls-btn-font: #ffffff;
$polls-input-bg: #363640;
$polls-input-border: #bbbbff;

// bootstrap-themed
$primary-bg: #00afff;
$success-bg: #28a745;
$warning-bg: #dc3545;
