@import '../helpers/colors';
@import '../helpers/typography';

#home{
  .description{
    font-family: $sans-serif;
    background-color: $home-description-bg;
    color: white;
    width: 100%;
    height: 180px;
    padding-top: 20px;
    box-shadow: 0px 1px 30px 20px $home-description-bg;
    text-align: center;

    > h1{
      font-size: 45px;
      margin-bottom: 0px;
    }
    > h5{
      width: 300px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    a{
      display: inline-block;
      background-color: $success-bg;
      color: white;
      text-decoration: none;
      margin: 5px;
      padding: 5px;
      border-radius: 5px;
    }
  }
}
