@import '../helpers/colors';
@import '../helpers/typography';

#navigation{
  font-family: $monospace;
  background-color: $nav-bg;
  color: $nav-font;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 700px;
  height: 40px;

  // title
  h2{
    position: absolute;
    margin: 0px;
    line-height: 40px;
    left: 30px;
    cursor: pointer;
  }

  // menu
  >ul{
    position: absolute;
    margin: 0px;
    padding: 0px;
    height: 100%;
    right: 50px;

    .username, .authBtn{
      position: relative;
      display: inline-block;
      font-size: 20px;
      padding-left: 10px;
      padding-right: 10px;
      line-height: 40px;
      font-weight: 800;
      text-align: center;
      box-sizing: border-box;

      // dropdown menu
      ul.dropdown{
        position: absolute;
        background-color: $bg;
        width: 150px;
        line-height: normal;
        padding-left: 0px;  //remove left space
        right: 0px;   //right-align dropdown menu
        list-style-type: none; //remove the dots
        display: none;

        // dropdown buttons
        li{
          background-color: $nav-bg;
          font-size: 14px;
          padding: 10px;
          clear: right;
          box-sizing: border-box;

          &:hover{
            background-color: $nav-hover-bg;
            color: $nav-hover-font;
            cursor: pointer;
          }
        }
      }
    }
    .username:hover{
      background-color: $nav-hover-bg;

      .dropdown{
        display: block;
      }
    }
    .authBtn:hover{
      background-color: $nav-hover-bg;
      cursor: pointer;
    }
  }
}
