@import '../helpers/colors';
@import '../helpers/typography';

#navigation{
  font-family: $monospace;
  background-color: $nav-bg;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;

  a{
    text-decoration: none;
    color: black;
  }

  h2{
    position: absolute;
    margin-top: 10px;
    margin-bottom: 0px;
    left: 30px;
  }

  ul{
    position: absolute;
    margin-top: 8px;
    margin-bottom: 0px;
    right: 40px;

    > li{
      display: inline-block;
      margin: 5px;
      font-size: 18px;

      &:hover{
        border-bottom: 1px solid $nav-btn-border;
        cursor: pointer;
      }
    }
  }
}
