@import '../helpers/colors';
@import '../helpers/typography';

$table-total-width: 750px;
$table-title-width: 600px;
$table-date-width: 120px;
$table-delete-width: 30px;
$prompt-width: 500px;
$prompt-height: 150px;

#poll-list{
  font-family: $sans-serif;
  padding-top: 20px;

  >h1{
    color: $polls-font;
    width: $table-total-width;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
  }

  // table
  .list{
    border: 1px solid white;
    width: $table-total-width;
    max-height: 400px;
    overflow-y: auto;
    margin: 0 auto;

    table{
      display: inline-block;
      color: $polls-font;
      width: 100%;
      border-collapse: collapse;
      box-sizing: border-box;

      // borders to separate polls
      tr.poll-row{
        +tr.poll-row{
          border-top: 1px solid white;
        }
      }

      th{
        width: 100%;
        height: 20px;

        &.title{
          padding-left: 10px;
          text-align: left;
        }
        &.date-created{
          text-align: right;
        }
      }
      td{
        &.title{
          width: $table-title-width;
          text-align: left;
          padding: 5px;
          padding-left: 10px;

          a{
            color: $polls-font;
            text-decoration: none;

            &:hover{
              color: $polls-hover-font;
              text-decoration: none;
              cursor: pointer;
            }
          }
          small{
            font-size: 8px;
          }
        }
        &.date-created{
          width: $table-date-width;
          text-align: right;
        }
        &.delete{
          width: $table-delete-width;
          text-align: center;

          i{
            color: $warning-bg;

            &:hover{
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .delete-prompt{
    display: none;

    .overlay{
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #ffffff;
      opacity: 0.12;
      z-index: 1;
    }
    .content{
      position: fixed;
      background-color: $modal-bg;
      left: 50%;
      top: 50%;
      width: $prompt-width;
      height: $prompt-height;
      margin-left: -($prompt-width/2);
      margin-top: -($prompt-height/2);
      text-align: center;
      border-radius: 5px;
      z-index: 2;

      div{
        width: 80%;
        margin: 0 auto;

        button{
          color: #ffffff;
          width: 100px;
          height: 30px;
          margin: 5px;
          border: none;
          outline: none;

          &.confirm{
            background-color: $warning-bg;
          }
          &.cancel{
            background-color: #aaaaaa;
          }
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
  }
}
