@import '../helpers/colors';
@import '../helpers/typography';

#polls-view{
  font-family: $sans-serif;
  padding-top: 20px;

  .loading{
    display: block;
    color: $polls-font;
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
  }

  h3{
    color: $polls-font;
    text-align: center;
    margin-bottom: 0px;

    + small{
      display: block;
      color: $polls-font;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  .form{
    color: $polls-font;
    border: 1px solid $polls-border;
    width: 400px;
    margin: 0 auto;

    .poll-options-list{
      div{
        margin: 0px 10px 0px 10px;
        padding: 5px 0px 5px 0px;
        overflow:hidden;
        word-wrap: break-word;

        input{
          float: left;
        }

        +div{
          border-top: 1px solid $polls-border;
        }
      }
    }
    .poll-options-add{
      margin: 0px 10px 0px 10px;

      div{
        text-align: center;
      }
      input{
        background-color: $polls-input-bg;
        color: $polls-font;
        width: 95%;
        height: 20px;
        padding-left: 6px;
        border: none;
        box-sizing: border-box;
        outline: none;
      }
      button{
        background-color: $primary-bg;
        color: $polls-btn-font;
        width: 5%;
        height: 20px;
        border: none;
        cursor: pointer;
        box-sizing: border-box;
        outline: none;
      }
    }
    .poll-options-other{
      margin: 10px 10px 5px 10px;

      button{
        background-color: $primary-bg;
        color: $polls-btn-font;
        height: 20px;
        border: none;
        cursor: pointer;
        box-sizing: border-box;
      }
      a{
        color: $polls-font;
        font-size: 14px;
        float: right;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .links{
    text-align: center;

    a{
      display: inline-block;
      color: $polls-font;
      font-size: 12px;
      text-decoration: none;
      border: 1px solid $polls-border;
      margin: 7px;
      padding: 5px;

      &:hover{
        background-color: $polls-font;
        color: $bg;
      }
    }
  }
}
