@import '../helpers/colors';
@import '../helpers/typography';

#polls-create{
  font-family: $sans-serif;
  padding-top: 20px;

  h1{
    color: $polls-font;
    text-align: center;
  }
  .done, .form{
    padding: 10px;
    width: 600px;
    min-width: 450px;
    margin: 0 auto;
    border: 1px solid $polls-border;
  }

  .done{
    text-align: center;

    h2{
      color: $polls-font;
      text-align: center;
    }

    button{
      background-color: $primary-bg;
      color: $polls-btn-font;
      border: 1px solid $primary-bg;
      margin: 0 auto;
      padding: 5px;
      cursor: pointer;
    }
  }

  .form{
    input[placeholder="Title"]{
      width: 100%;
      height: 35px;
      background-color: $bg;
      color: $polls-font;
      font-size: 20px;
      margin-bottom: 20px;
      padding: 5px;
      border: none;
      border-bottom: 3px solid $polls-input-border;
      box-sizing: border-box;
      outline: none;
    }

    .options{
      width: 100%;
      color: $polls-font;
      font-size: 15px;
      padding-top: 5px;
      padding-bottom: 5px;

      +.options{
        clear: both;
        border-top: 1px solid $polls-input-border;
      }

      div{
        float: left;
        width: 95%;
        padding-left: 6px;
        word-wrap: break-word;
        box-sizing: border-box;
      }
      button{
        width: 5%;
        background-color: $warning-bg;
        color: $polls-btn-font;
        border: 1px solid $warning-bg;
        box-sizing: border-box;
        outline: none;
        cursor: pointer;
      }
    }

    .option-input{
      width: 100%;
      margin-top: 7px;

      // Option input field+button
      input{
        background-color: $polls-input-bg;
        color: $polls-font;
        width: 95%;
        font-size: 15px;
        border: 1px solid $polls-input-bg;
        padding-left: 5px;
        box-sizing: border-box;
        outline: none;
      }
      button{
        background-color: $primary-bg;
        color: $polls-btn-font;
        width: 5%;
        font-size: 15px;
        border: 1px solid $primary-bg;
        box-sizing: border-box;
        outline: none;
        cursor: pointer;
      }

      // Option submit button
      +button{
        width: 600px;
        background-color: $success-bg;
        color: $polls-btn-font;
        border: 1px solid $success-bg;
        margin-top: 10px;
        padding: 5px;
        box-sizing: border-box;
        outline: none;
        cursor: pointer;

        &.disabled{
          background-color: #335533;
          color: #999999;
          border-color: #335533;
          cursor: default;
        }
      }
    }
  }
}
