$table-total-width: 850px;
$table-title-width: 85%;
$table-date-width: 10%;
$table-delete-width: 5%;
$prompt-width: 500px;
$prompt-height: 150px;

#polls-list{
  font-family: $sans-serif;
  padding-top: 20px;

  > h1{
    color: $polls-font;
    width: $table-total-width;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
  }
  > h3{
    color: $polls-font;
    width: $table-total-width;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
  }

  .loading{
    display: block;
    color: $polls-font;
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
  }

  // table list container
  .list{
    width: $table-total-width;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto;
  }

  // table styles for both header and list
  table{
    width: $table-total-width;
    color: $polls-font;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 0 auto;
    border: 1px solid $polls-border;

    // borders to separate polls
    tr.row + tr.row{
      border-top: 1px solid white;
    }

    th{
      background-color: $polls-border;
      color: $bg;
      height: 20px;


      &.title{
        width: $table-title-width;
        padding-left: 10px;
        text-align: left;
      }
      &.date-created{
        width: $table-date-width;
        text-align: left;
      }
      &.delete{
        width: $table-delete-width;
        text-align: left;

      }
    }
    td{
      &.title{
        width: $table-title-width;
        text-align: left;
        padding: 5px;
        padding-left: 10px;

        a{
          color: $polls-font;
          text-decoration: none;

          &:hover{
            color: $polls-hover-font;
            text-decoration: none;
            cursor: pointer;
          }
        }
        small{
          font-size: 8px;
        }
      }
      &.date-created{
        width: $table-date-width;
        text-align: left;
        padding-right: 30px;
      }
      &.delete{
        color: $warning-bg;
        width: $table-delete-width;
        text-align: left;

        i:hover{
          cursor: pointer;
        }
      }
    }
  }

  .links{
    text-align: center;

    a{
      display: inline-block;
      color: $polls-font;
      font-size: 12px;
      text-decoration: none;
      border: 1px solid $polls-border;
      margin: 7px;
      padding: 5px;

      &:hover{
        background-color: $polls-font;
        color: $bg;
      }
    }
  }

  .delete-prompt{
    display: none;

    .overlay{
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #ffffff;
      opacity: 0.12;
      z-index: 1;
    }
    .content{
      position: fixed;
      background-color: $modal-bg;
      left: 50%;
      top: 50%;
      width: $prompt-width;
      height: $prompt-height;
      margin-left: -($prompt-width/2);
      margin-top: -($prompt-height/2);
      text-align: center;
      border-radius: 5px;
      z-index: 2;

      .prompt-btns{
        width: 80%;
        margin: 0 auto;

        button{
          box-sizing: border-box;
          color: #ffffff;
          width: 100px;
          height: 30px;
          margin: 5px;
          outline: none;


          &.confirm{
            background-color: $warning-bg;
            border: 2px solid $warning-bg;

            &:hover{
              background-color: $modal-bg;
              color: $warning-bg;
              cursor: pointer;
            }
          }
          &.cancel{
            background-color: #aaaaaa;
            border: 2px solid #aaaaaa;

            &:hover{
              background-color: $modal-bg;
              color: #aaaaaa;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
